<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <connectionStrings>
    <connectionStrings>
        <!-- SQL Server Database (local)
        <add name="IndustryCodesContext" connectionString="metadata=res://*/Models.IndustryCodesModel.csdl|res://*/Models.IndustryCodesModel.ssdl|res://*/Models.IndustryCodesModel.msl;provider=System.Data.SqlClient;provider connection string='data source=.\SQLEXPRESS;initial catalog=&quot;Industry Codes&quot;;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />-->
        <!-- Azure SQL Database (cloud)-->
        <add name="IndustryCodesContext" connectionString="metadata=res://*/Models.IndustryCodesModel.csdl|res://*/Models.IndustryCodesModel.ssdl|res://*/Models.IndustryCodesModel.msl;provider=System.Data.SqlClient;Provider Connection String=&quot;Server=tcp:{sql-server-host},1433;Initial Catalog=Industry Codes;Persist Security Info=False;User ID={user-id};Password={password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>