@{
    ViewBag.Title = "About";
}
@model IndustryCodes.ViewModels.AboutViewModel
<br />
<h4>@ViewData["Title"]</h4>
<div class="jumbotron">
    <p class="text-primary">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Spacer" width="10"><strong>Application:</strong>&nbsp;@Model.Application
    </p>
    <p class="text-primary">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Spacer" width="10"><strong>Description:</strong>&nbsp;@Model.Description
    </p>
    <p class="text-primary">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Spacer" width="10"><strong>Version:</strong>&nbsp;@Model.Version
    </p>
    <p>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Spacer" width="10"><img src="~/images/wiregrass.png" height="55" width="180" alt="Wiregrass Code Technology Symbol" />
    </p>
    <p class="text-success">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Spacer" width="10">@Model.Copyright
    </p>
</div>                   