<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Industry Codes</title>

    <environment include="Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">Industry Codes</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown" title="Search NAICS/SIC Codes">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li title="Search SIC Code Using NAICS Code"><a asp-page="/SearchByCode">By Code</a></li>
                            <li title="Search NAICS/SIC Codes By Selection"><a asp-page="/SearchBySelection">By Selection</a></li>
                            <li title="Search NAICS/SIC Codes By Keyword"><a asp-page="/SearchByKeyword">By Keyword</a></li>
                        </ul>
                    </li>

                    <li class="dropdown" title="Search External Resources">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">External<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li title="NAICS North American Industry Classification System (NAICS) Search - US Census"><a href="https://www.census.gov/eos/www/naics/" target="_blank">NAICS Site (Census)</a></li>
                            <li title="Standard Industrial Classification (SIC) System Search - US Occupational Safety and Health Administration (OSHA)"><a href="https://www.osha.gov/pls/imis/sicsearch.html" target="_blank">SIC Site (OSHA)</a></li>
                        </ul>
                    </li>

                    <li><a asp-page="/About">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <environment include="Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop()) {
                    $('#to-page-top').fadeIn();
                } else {
                    $('#to-page-top').fadeOut();
                }
            });

            $("#to-page-top").click(function () {
                $("html, body").animate({ scrollTop: 0 }, 1000);
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>                          