<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Industry Codes</title>
    <environment include="Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a asp-page="/Index" class="navbar-brand" data-toggle="tooltip" title="Home">Industry Codes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download_1" title="Search NAICS/SIC codes">Search<span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="download">
                            <a class="dropdown-item" asp-page="/SearchByCode" data-toggle="tooltip" title="Search SIC code using NAICS code">By Code</a>
                            <a class="dropdown-item" asp-page="/SearchBySelection" data-toggle="tooltip" title="Search NAICS/SIC codes by selection">By Selection</a>
                            <a class="dropdown-item" asp-page="/SearchByKeyword" data-toggle="tooltip" title="Search NAICS/SIC codes By keyword">By Keyword</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download_2" title="Search external resources">External<span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="download">
                            <a class="dropdown-item" href="https://www.census.gov/eos/www/naics/" target="_blank" data-toggle="tooltip" title="NAICS North American Industry Classification System (NAICS) Search - US Census">NAICS Site (Census)</a>
                            <a class="dropdown-item" href="https://www.osha.gov/pls/imis/sicsearch.html" target="_blank" data-toggle="tooltip" title="Standard Industrial Classification (SIC) System Search - US Occupational Safety and Health Administration (OSHA)">SIC Site (OSHA)</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/About">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <environment include="Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop()) {
                    $('#to-page-top').fadeIn();
                } else {
                    $('#to-page-top').fadeOut();
                }
            });

            $("#to-page-top").click(function () {
                $("html, body").animate({ scrollTop: 0 }, 1000);
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>                          