@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">
    <p>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Spacer" width="10"><img src="~/images/industry_symbol.jpg" alt="Industry Symbol" width="100" height="80" />
    </p>
    <p class="text-info lead">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Spacer" width="10">Industry Codes
    </p>
    <p class="text-success">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Spacer" width="10">NAICS/SIC Codes Search Application
    </p>
</div>                                       